{% include 'partials/header.html' %}
<a href ='/todos'>Go back</a>
<h1>{{todo.title}}</h1>
<p>{{todo.text}} -- {{todo.id}}</p>
<!-- <a href="/todos/delete/{{todo.id}}">Delete</a> -->
    <!-- <a href="/todos/delete/">Delete</a>"}</p> -->
<form name='delete' action="/todos/delete/{{todo.id}}" method="POST">
        {% csrf_token %}

        <!-- <input type ="number" name="id" id="id" placeholder={{todo.id}}/> -->
    <input type="submit" value="Delete" />
</form>
<a href="/update/{{todo.id}}"><button>Update</button></a>
<br/>
Created on {{todo.created_at}}

{% include 'partials/footer.html' %}
